li {
    margin: 0;
}

body {
    font: 125%/1.75 Lustria, Georgia;
    color: #eee;
    margin: 0;
}

p {
    margin: 3.5em 0;
    color: #000;
}

h3 {
    padding: 0;
    margin: 0;
    color: #eee;
    text-align: center;
}

h2 {
    text-align: center;
    color: #000;
    font-size: 175%;
    line-height: 1.5;
    margin: 0;
}

h2:first-child,
h2+* {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    padding-bottom: 3px;
    font-size: .8em;
}

.grid {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 0;
}

.grid__item {
    font-size: 1.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 100%;
}

.grid--2 {
    max-width: 440px;
}

.grid--3 {
    max-width: 660px;
}

.grid--4 {
    max-width: 880px;
}

.grid--6 {
    max-width: 1320px;
}

.grid--center {
    text-align: center;
}

.sitelogo {
    max-height: 75px;
}

.caption {
    font-size: 90%;
    line-height: 1.95;
    color: #000;
    margin: 0;
}

.my_face {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.image {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ccc, 0 1px 0 1px #ccc;
    overflow: hidden;
}

.contact strong {
    color: #ddd;
    text-align: center;
    margin: 0 auto;
}

.social_media_grid {
    padding: 5px;
}

.social_image {
    width: 60%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #ccc, 0 1px 0 1px #ccc;
    overflow: hidden;
}

.social_img a {
    display: inline-block;
}

.image img {
    display: block;
}

.social_icon {
    padding: 0 10px;
    margin: 0;
    height: 32px;
    width: 32px;
}

.image--8x5 {
    padding-bottom: 0;
}

.image--8x5 img {
    width: 100%;
}

.image--1x2 {
    width: 150px;
    width: 100px;
    margin: 0 auto 15px;
}

.nav a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.bullet-list {
    list-style-type: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.bullet-list li {
    margin: .875em 0;
}

.bullet-list a {
    text-decoration: none;
}

.bullet-list--alt {
    text-align: center;
    list-style-type: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.bullet-list--alt li {
    margin: .875em 0;
}

.bullet-list--alt a {
    text-decoration: none;
}

.bullet-list--social {
    list-style-type: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.bullet-list--social li {
    margin: .875em 0;
}

.bullet-list--social ul {
    width: 60%;
    margin: auto;
}

.bullet-list--social a {
    text-decoration: none;
}

.contact__content {
    /*margin: 5% 0;*/
}

.page__nav {
    padding: 0;
    background: #F2594B;
    color: #fff;
    margin: -1.1rem 0;
}

.page__nav a {
    font-size: 110%;
    margin: .25em 1.15em;
}

.page__header {
    padding: 0;
    background-color: #E72E3C;
    min-height: 105vh;
    min-width: 100vh;
}

.page__title {
    display: block;
    font-size: 175%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .35em;
    word-spacing: .5em;
    margin: .5em 0;
    -webkit-animation: .5s .5s fade backwards ease-out;
    -moz-animation: .5s .5s fade backwards ease-out;
    animation: .5s .5s fade backwards ease-out;
}

.page__subtitle {
    display: block;
    font-size: 115%;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .35em;
    word-spacing: .5em;
    margin: .5em 0;
    -webkit-animation: .5s .5s fade backwards ease-out;
    -moz-animation: .5s .5s fade backwards ease-out;
    animation: .5s .5s fade backwards ease-out;
}

.page__content {
    min-height: 105vh;
    min-width: 100vh;
    padding: 0;
    background: #fff;
}

.page__content--alt {
    min-height: 105vh;
    min-width: 100vh;
    padding: 0;
    background: #E72E3C;
    color: #c6c6c6;
}

.page__content--alt h2{
    color: #fff;
}

.page__content a:not(.button) {
    color: #b30027;
}

/*.page__content--alt h2 {
    color: #fff;
}
*/
.page__content--alt strong {
    color: #eee;
}

.portrait {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.work a {
    text-decoration: none;
    color: inherit;
}

/*.work h2 {
    color: #444;
    padding-bottom: .25em;
    border-bottom: 1px solid #ccc;
}
*/
.work:hover {
    box-shadow: 1px 1px 1px 2px solid;
}

.mccord {
    border-radius: 100px;
}

.md-48 { 
    font-size: 48px;
    
}

.md-lightBlue {
    color: #2EB2FF; 
}


@media screen and (max-width:640px) {
    .image--8x5 {
        padding-bottom: 0;
    }

    .image--8x5 img {
        width: 100%;
        margin-bottom: -12.5%;
    }
    
    .social_icon {
        margin: 5px;
        height: 32px;
        width: 32px;
    }
    
    .grid {
        padding: 0;
    }
    .grid__item {
        font-size: .9rem;
    }
    .bullet-list {
        margin-left: 1.125em;
    }
}

@media screen and (max-width:310px) {
    .image--8x5 {
        padding-bottom: 0;
    }

    .image--8x5 img {
        width: 100%;
        margin-bottom: -1.5%;
    }

    .grid__item {
        font-size: .7rem;
    }
}

@-webkit-keyframes fade {
    from {
        transform: translateY(.25em);
        opacity: 0;
    }
}

@keyframes fade {
    from {
        transform: translateY(.25em);
        opacity: 0;
    }
}