/* minty: #B2DFDB */
/* goldy: #d4af37 */

* {
    box-sizing: border-box;
    letter-spacing: 0.1rem;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'Lora', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
}

a {
    color: #039be5;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}


span {
    display: block;
    text-align: center;
}

.awards
{
    text-align: center;
}

.awards .col
{
    margin: 0 auto 24px;
}

.awards h2 {
    text-align: left;
    font-family: 'Pacifico', cursive;
}

.awards h5
{
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
}

.awards p
{
    font-style: italic;
    text-align: center;
}

.bullet-list--alt {
    text-align: center;
}

.card {
    box-shadow: 0 5px 15px #000;
    border-radius: 10px;
    min-height: 350px;
}

.code-word {
    display: inline;
    color: #555;
    font-size: 1.30em;
}

.col--footer {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.container {
    width: 90%;
}

.deal-with-it {
    cursor: pointer;
}

.deal--glasses {
    cursor: pointer;
    display: inline;
    padding-left: 5px;
    position: fixed;
    top: -55px;
}

.divider {
    background-color: #666;
    margin: 30px;
}

.header--container {
    padding-bottom: 40px;
    width: 90%;
}

.hidden {
    display: none;
}

.image--headshot {
    border-radius: 400px;
    cursor: pointer;
    float: left;
    height: 240px;
    margin-top: 30px;
    width: 240px;
}

.image--award {
    border-radius: 20px;
    height: 200px;
    margin: 0 auto;
    width: 260px;
}

.image--project {
    border-radius: 20px;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 25px;
    width: 100%;
}

.light-blue-text {
    color: rgb(46, 178, 255);
    font-size: 1.2em;
    padding: 15px;
}

.material-placeholder {
    margin-bottom: 15px;
}

.page--content {
    margin: 0;
}

.page--footer {
    margin: 0;
    text-align: center;
}

.page--footer span {
    font-size: 1em;
    margin-bottom: 10px;
}

.page--header {
    padding: 20px;
    text-align: left;
}

.page--header p {
    color: #ddd;
}

.page--header h2
{
  font-weight: 900;
}

.page--header h5
{
  padding: 10px;
}

.page--title {
    display: block;
    text-align: center;
}

.project--title {
    background-color: #3bddbb;
    color: white;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.projects
{
    margin-top: 40px;
    text-align: center;
}

.projects h2 {
    font-family: 'Pacifico', cursive;
    margin-left: 16px;
    margin-top: 0;
    text-align: left;
}

.projects h5
{
    font-size: 1.75em;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
}

.projects h6
{
    margin-bottom: 45px;
    text-align: center;
}

.projects p {
    text-align: left;
}

.project--links {
    margin-top: 50px;
}

.project--links li {
    margin: 25px 0;
}

.social--icon {
    height: 32px;
    margin: 0;
    padding: 0 10px;
    width: 48px;
}

.title {
    color: #333;
    margin-bottom: 30px;
    text-decoration: underline;
}

.transparent {
    filter: alpha(opacity=50);
    opacity: 0.5;
    zoom: 1;
}

.oval {
    background-clip: content-box;
    border-radius: 50%;
    float: left;
    height: 300px;
    padding: 10px;
    shape-outside: ellipse();
    width: 280px;
}

.resume--button {
    background-color: #424242;
    box-shadow: 0 1px 5px #000;
    margin-bottom: 25px;
    padding: 5px;
}

.resume--button:focus {
    background-color: #424242;
}

@media screen and (max-width:1024px) {
    .row {
        padding: 0;
    }


    .image--headshot {
        display: block;
        float: none;
        margin: 20px auto 0;
        margin-top: 28px;
    }

    .deal--glasses {
        margin-left: -114px;
    }

    .page--header {
        text-align: center;
    }

    .page--header h2 {
        margin-top: 290px;
    }

    .oval {
        display: block;
        height: 200px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    * {
        font-size: 1.2rem;
    }

    .page--header h2 {
        margin-left: 0;
        margin-top: 50px;
        text-align: center;
    }

    .projects h2 {
        margin-left: 0;
        text-align: center;
    }

    .awards h2 {
        margin-left: 0;
        text-align: center;
    }

    .oval {
        float: none;
    }
}

@media screen and (max-width:330px) {
    .row {
        padding: 0;
    }
}
