img {
	width: 100%
	height: 100%;
}

.parallax-container {
	background: url("../images/parallax1.png");
	background-size: 100% 100%;
	background-repeat: contain;
	min-width: 100vh;
	min-height: 100vh;
}
